<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Triopet</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MudIcon Class="me-2" Icon="@Icons.Material.Filled.Home"/>
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addproduct">
                <MudIcon Class="me-2" Icon="@Icons.Material.Filled.Warehouse" />
                Add Product
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="entries">
                <MudIcon Class="me-2" Icon="@Icons.Material.Filled.PlaylistAdd"/>
                Entries
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exits">
                <MudIcon Class="me-2" Icon="@Icons.Material.Filled.PlaylistRemove"/> 
                Exits
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <MudIcon Class="me-2" Icon="@Icons.Material.Filled.PieChart"/> 
                Dashboard
            </NavLink>
        </div>
    </nav>
</div>

