@page "/"
@using Triopet.Shared.Models
@inject IApiService ApiService
@inject NavigationManager NavigationManager

<div style="background-color: #a0e7e5; min-height: 100vh; padding: 20px;">
    <h3>Produtos Cadastrados</h3>

    @if (Produtos == null)
    {
        <MudProgressCircular Indeterminate="true" />
    }
    else if (!Produtos.Any())
    {
        <MudText>Nenhum produto encontrado.</MudText>
    }
    else
    {
    <MudGrid>
      @foreach (var produto in Produtos)
      {
        <MudItem xs="12" sm="6" md="4">
          <MudCard Class="my-2">
            <MudCardContent>
              @if (produto.Images != null && produto.Images.Any())
              {
              <MudImage Src="@produto.Images.First().Url" Alt="@produto.Name" Width="100" Height="100" />
              }

             <MudText Typography="Typo.h6">@produto.Name</MudText>
             <MudText>Qtd: @produto.Quantity</MudText>
             <MudText>@produto.Description</MudText>
             <MudText>Id: @produto.Id</MudText>
             </MudCardContent>

            <MudCardActions>
              <MudLink Href=@($"/productdetails/{produto.Id}") Style="color: black;">
                <MudButton Style="background-color: #d3d3d3;"
                 Variant="Variant.Filled">
                 Detalhes
                </MudButton>
              </MudLink>
              @*<MudButton Style="background-color: #d3d3d3; color: black;"
              Variant="Variant.Filled"
              OnClick="@(() => NavigationManager.NavigateTo($"/productdetails/{produto.Id}"))">
              Detalhes
              </MudButton> *@                        
            </MudCardActions>
          </MudCard>
        </MudItem>
      }
     </MudGrid>
  }
</div>

@code {
    private List<ProductDto> Produtos;

    protected override async Task OnInitializedAsync()
    {
        Produtos = await ApiService.GetProductsAsync();
    }
}